<footer>
  <div class="logo"><h2>Shortly</h2></div>
  <section>
    <div class="footer-section-title">
      <h4>Features</h4>
    </div>
    <ul class="footer-section-list">
      <li>Link Shortening</li>
      <li>Branded Links</li>
      <li>Analytics</li>
    </ul>
  </section>
  <section>
    <div class="footer-section-title">
      <h4>Resources</h4>
    </div>
    <ul class="footer-section-list">
      <li>Blog</li>
      <li>Developers</li>
      <li>Support</li>
    </ul>
  </section>
  <section>
    <div class="footer-section-title">
      <h4>Company</h4>
    </div>
    <ul class="footer-section-list">
      <li>About</li>
      <li>Our Team</li>
      <li>Careers</li>
      <li>Contact</li>
    </ul>
  </section>
  <div class="footer-medias">
    <div class="footer-media facebook">
      <img src="./assets/images/icon-facebook.svg" alt="facebook" />
    </div>
    <div class="footer-media twitter">
      <img src="./assets/images/icon-twitter.svg" alt="twitter" />
    </div>
    <div class="footer-media pinterest">
      <img src="./assets/images/icon-pinterest.svg" alt="pinterest" />
    </div>
    <div class="footer-media instagram">
      <img src="./assets/images/icon-instagram.svg" alt="instagram" />
    </div>
  </div>
</footer>
