footer {
  background-color: hsl(260, 8%, 14%);
  color: white;
  text-align: center;
  padding: 2rem;
}

.logo {
  margin-bottom: 2rem;
}

.logo h2 {
  font-size: 2.2rem;
}

section {
  margin-bottom: 1.5rem;
}

.footer-section-title {
  margin-bottom: 1.5rem;
}

.footer-section-list {
  list-style: none;
}

.footer-section-list li {
  margin-top: 0.6rem;
  color: hsl(0, 0%, 75%);
}

.footer-medias {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.footer-media {
  margin-left: 2rem;
  transition: all 0.3s;
}

footer ul li {
  transition: all .3s;
}

@media (min-width: 768px) {
  footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem 10rem;
  }

  .footer-medias {
    margin-top: 0;
  }

  footer ul li:hover {
    color: aqua;
    cursor: pointer;
  }

  .footer-media:hover {
    transform: translateY(-5px);
    cursor: pointer;
  }
}
