<div class="desktop-navigation-container">
  <div class="navigation">
    <ul>
      <li><a href="#">Features</a></li>
      <li><a href="#">Pricing</a></li>
      <li><a href="#">Resources</a></li>
    </ul>
  </div>
  <div *ngIf="!id; else logOut" class="login">
    <button (click)="onLogIn()" class="login-button">Login</button>
    <button (click)="onSignUp()" class="sign-up-button">Sign up</button>
  </div>

  <ng-template #logOut>
    <div (click)="onLogOut()" class="log-out">
      <p>Log Out</p>
    </div>
  </ng-template>
</div>
