<div class="mobile-navigation-container">
  <div class="navigation">
    <ul>
      <li><a href="#">Features</a></li>
      <li><a href="#">Pricing</a></li>
      <li><a href="#">Resources</a></li>
    </ul>
  </div>
  <div *ngIf="!id; else logOut" class="login">
    <button (click)="[onLogIn(), onNavigate()]" class="login-button">Login</button>
    <button (click)="[onSignUp(), onNavigate()]" class="sign-up-button">Sign up</button>
  </div>
  <ng-template #logOut>
    <div (click)="[onLogOut(),onNavigate()]" class="log-out">
      <p>Log Out</p>
    </div>
  </ng-template>
</div>

